body {
    background-color: #212121;
    color: #ffffff;
}

#ingredientPopup {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -200px;
    width: 400px;
    height: 300px;
    padding: 20px;
    background-color: #3d3d3d;
    border-radius: 10px;
    text-align: center;
}