body {
    background-color: #212121;
    color: #ffffff;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

#ingredientPopup {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -200px;
    width: 400px;
    height: 300px;
    padding: 20px;
    background-color: #3d3d3d;
    border-radius: 10px;
    text-align: center;
}

#closePopupBtn {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 1.5em;
    padding: 8px 16px;
    border: none;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}